@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Overpass", sans-serif;
    font-size: 15px;
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}  

button {
    font-family: inherit;
}

p {
    line-height: 1.8;
}

.main-container, .thank-you {
    background-color: hsl(213, 19%, 18%);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 400px;
}

.main-container img {
    background-color: hsl(213, 19%, 23%);
    padding: 0.5rem;
    border-radius: 50%;
}

.main-container h1 {
    color: #fff;
    margin: 2rem 0 1rem;
}

.main-container p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 1rem;
}

.main-container ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.main-container ul li button {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: hsl(213, 20%, 22%);
    color: #fff;
    padding-top: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: hsl(25, 97%, 53%);
}

.btn:focus {
    background-color: hsl(217, 12%, 63%);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    color: white;
    padding: 0.5rem 0 0.6rem;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.thank-you img {
    display: block;
    margin: 0 auto 2rem;
}

.thank-you p.gray {
    background-color: hsl(213, 20%, 22%);
    border-radius: 30px;
    color: hsl(25, 97%, 53%);
    padding: 0.2 0.5rem 0;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.thank-you h2 {
    color: white;
    margin-bottom: 1rem;
}

.thank-you p {
    color: hsl(217, 12%, 63%);
    margin-bottom: 2rem;
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}