* {font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;}

.legendaries, .giftpokemon, .ingametrades, .tms, .unown, .completepokedex  {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.legendaries-rightrow, .giftpokemon-rightrow, .ingametrades-rightrow, .tms-rightrow {
	margin-left: 40px;
}

.legendaries-rowcontainer, .giftpokemon-rowcontainer, .ingametrades-rowcontainer, .tms-rowcontainer, .unown-rowcontainer {
	display: flex;
	align-items: flex-start; 
}

.unown-middlerow {
	margin-left: 40px;
	margin-right: 40px;
}


#female {
	color: pink;
}
.pokeicon {
	height: 40px;
}
.pokeicon.egg {
    height: 25px;
    margin-left: 5px;
}
.pokeicon.unown {
	height: 30px;
	}
.pokeicon.legendaries {
	height: 30px;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: #fff;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../../images/patterns/pattern-crystal.png) repeat center center; /* Icons Vectors by Vecteezy */
	background-size: 500px 250px;
	display: flex;
	flex-direction: column;
}
.page-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: baseline;
}
/* page */

.wide-panel {
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	width: 500px;
	margin: 30px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: white;
	margin-top: 150px;
	border: 2px solid #62CCCC;
}
.wide-panel.more {
	margin-bottom: 50px;
	margin-top: 50px;
}
.panel-label {
	display: block;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 1000;
	color: #62CCCC;
}
.panel-content {
	text-align: left;
}
.checkbox-group {
	margin-bottom: 15px;
}
span {
	pointer-events: none;
}

.checkbox-item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

footer {
	height: 50px;
	background: #62CCCC;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}
footer ul {
	display: flex;
	list-style: circle;
	padding: 0;
}
footer li {
	margin-right: 10px;
	text-decoration: none;
	list-style: none;
	font-size: 15px;
}


@media only screen and (max-width: 768px) {
	/* Constant */
   
    footer {
        height: 50px;
        font-size: 12px;
    }

	/* Variable */

	  .panel-content {
		width: 300px;
	  }

	  .wide-panel {
		margin-top: 180px;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		
	  }
	  .unown {
		white-space: nowrap;
		align-items: center;
	}
		  .unown-middlerow {
			margin-left: 10px;
			margin-right: 10px;
			
		  }
	
		  .wide-panel.collectibles {
			margin-top: 0px;
		  }
		  

}

@media only screen and (max-width: 400px) { /* Normal phones */
	.wide-panel {
		margin-top: 180px;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	
}