

* {font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;}
/* Header */


.ingametrades, .legendaries, .tms, .pokemoncontest, .giftpokemon, .ribbons, .mega, .battlemaison, .restaurants, .other, .opower, .completepokedex, .trainercard, .pokemonamie, .foodcourtbattles, .bikes, .capturetheflag, .charms {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.legendaries-rightrow, .other-rightrow, .restaurants-rightrow, .pokemoncontest-rightrow, .giftpokemon-rightrow, .opower-rightrow, .completepokedex-rightrow, .battlemaison-rightrow, .capturetheflag-rightrow {
	margin-left: 40px;
}
.legendaries-rowcontainer, .tms-rowcontainer, .pokemoncontest-rowcontainer, .giftpokemon-rowcontainer, .ribbon-rowcontainer, .mega-rowcontainer, .battlemaison-rowcontainer, .other-rowcontainer, .opower-rowcontainer, .completepokedex-rowcontainer, .capturetheflag-rowcontainer {
	display: flex;
	align-items: flex-start; 
}

.mega-middlerow, .tms-middlerow {
	margin-left: 40px;
	margin-right: 40px;	
}

.pokeicon.megastone {
	height: 30px;
}

.collapsible {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 500px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
	margin: 5px;
  }

  .content {
    padding: 0 18px;
	display: none;
  }
#female {
	color: pink;
}

/* Pokeicon */
.pokeicon {
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
}
.pokeicon.legendary {
	height: 30px;
	margin-right: 3px;
	margin-left: 3px;
}
.pokeicon.legendarysmall {
	margin-right: 0px;
	margin-left: 0px;
}




/* Logo Container */
.icon-small {
	height: 25px;
	margin-left: 0px;
}


/* Links */
a {
	text-decoration: none;
	color: #fff;
}


/* Body */
body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../../images/patterns/pattern-omegaruby.png) repeat center center;
	/* Icons Vectors by Vecteezy */
	background-size: 500px 250px;
	display: flex;
	flex-direction: column;
}
.checkbox-item input[type="checkbox"] {
    margin-right: 5px; /* Adjust this value to control the space between the checkbox and the label */
}
/* Page Container */
.page-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: baseline;
}

/* Span */
span {
	pointer-events: none;
}

/* Wide Panel */
.wide-panel {
	text-align: center;
	padding: 20px;
	border-radius: 8px;
	width: 500px;
	margin: 30px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: white;
	margin-top: 150px;
	border: 2px solid #8d0406;
}
.wide-panel.more {
	margin-bottom: 50px;
	margin-top: 50px;
}





/* Panel Label */
.panel-label {
	display: block;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 1000;
	color: #8d0406;
}

/* Panel Content */
.panel-content {
	text-align: left;
}

/* Checkbox Group */

.pokeicon.item, .pokeicon.mega {
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}
.pokeicon.small {
	height: 25px;
}

/* Checkbox Item */
.checkbox-item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}


/* Footer */
footer {
	height: 50px;
	background: #8d0406;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}
footer ul {
	display: flex;
	list-style: circle;
	padding: 0;
}
footer li {
	margin-right: 10px;
	text-decoration: none;
	list-style: none;
	font-size: 15px;
}



@media only screen and (max-width: 768px) {
	/* Constant */
  
    footer {
        height: 50px;
        font-size: 12px;
    }

	/* Variable */





	  .panel-content {
		width: 300px;
	  }

	  .wide-panel {
		margin-top: 180px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		
	  }
		  .wide-panel.collectibles {
			margin-top: 0px;
		  }

		  .collapsible {
		width: 290px;
	}



	.mega-middlerow, .tms-middlerow {
		margin-left: 0px;
		margin-right: 0px;
	}

	.pokeicon.megastone, .pokeicon.tm {
		display: none;
	}


	.pokeicon.item {
		height: 20px;
	}
	.pokeicon.ribbons {
		height: 30px;
	}


	

	.ribbons-middlerow {
		margin-left: 0px;
		margin-right: 0px;
	}

	
	.pokemonamie, .foodcourtbattles, .trainercard, .ingametrades, .pokemoncontest, .bikes, .capturetheflag {
		margin-left: -20px;
	}
	
}

@media only screen and (max-width: 400px) { /* Normal phones */
	.wide-panel {
		margin-top: 180px;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	.pokeicon.ribbons {
		height: 15px;
	}

	.giftpokemon-rightrow {
		margin-left: 10px;
	}
	.legendaries-rightrow {
		margin-left: 30px;
	}
	.legendaries {
		text-align: center;
	}
	

}
