.collapsible {
	background-color: #f1f1f1;
	cursor: pointer;
	padding: 18px;
	width: 500px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	margin: 5px;
}
.content {
	padding: 0 18px;
	display: none;
}
/* Common font family */

* {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}
/* Header */

#female {
	color: pink;
}
/* Pokeicon */

.pokeicon {
	height: 40px;
	margin-right: 5px;
	margin-left: 5px;
}
.pokeicon.small {
	height: 60px;
	margin-right: -5px;
	margin-left: -5px;
	margin-bottom: -10px;
}
.pokeicon.legendary {
	height: 30px;
	margin-right: 3px;
	margin-left: 3px;
}
.pokeicon.gigantamax {
	height: 30px;
}
/* Logo Container */

.icon-small {
	height: 25px;
	margin-left: 0px;
}

/* Links */

a {
	text-decoration: none;
	color: #fff;
}

/* Body */

body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../../images/patterns/pattern-sword.png) repeat center center;
	/* Icons Vectors by Vecteezy */
	background-size: 500px 250px;
	display: flex;
	flex-direction: column;
}
.checkbox-item input[type="checkbox"] {
    margin-right: 5px; /* Adjust this value to control the space between the checkbox and the label */
}
/* Page Container */

.page-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: baseline;
}
/* Span */

span {
	pointer-events: none;
}
/* Wide Panel */

.wide-panel {
	text-align: center;
	padding: 20px;
	border-radius: 1.5rem;
	width: 500px;
	margin: 30px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: white;
	margin-top: 150px;
	border: 2px solid #181369;
}
.wide-panel.more {
	margin-bottom: 50px;
	margin-top: 50px;
}

/* Panel Label */

.panel-label {
	display: block;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 1000;
	color: #181369;
}
/* Panel Content */


/* Checkbox Group */

.ingametrades, .legendaries, .gigantamax, .leaguecard, .leaguecard-customizations, .sidequests, .ribbons, .giftpokemon, .completepokedex, .currydex, .galarianforms, .battletower, .campingtoys, .other, .items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.legendaries-rightrow, .gigantamax-rightrow, .leaguecard-customizations-rightrow, .ribbons-rightrow, .currydex-rightrow, .battletower-rightrow, .other-rightrow, .galarianforms-rightrow, .completepokedex-rightrow, .giftpokemon-rightrow, .ingametrades-rightrow, .campingtoys-rightrow {
	margin-left: 40px;
}
.legendaries-rowcontainer, .leaguecard-customizations-rowcontainer, .campingtoys-rowcontainer, .gigantamax-rowcontainer, .trainerpassport-rowcontainer, .leaguecard-rowcontainer, .other-rowcontainer, .ribbons-rowcontainer, .sidequests-rowcontainer, .currydex-rowcontainer, .giftpokemon-rowcontainer, .battletower-rowcontainer, .completepokedex-rowcontainer, .ingametrades-rowcontainer, .galarianforms-rowcontainer {
	display: flex;
	align-items: flex-start;
}
.pokeicon.item, .pokeicon.mega {
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}
.leaguecard-leftrow, .leaguecard-leftmiddlerow, .leaguecard-rightrow, .leaguecard-rightmiddlerow {
	margin-right: 18px;
	white-space: nowrap;
}

.pokeicon.npc {
	height: 30px;
	margin-left: -5px;
	margin-right: -5px;
}
.wide-panel.leaguecards {
	margin-top: 0px;
	width: 1100px;
}
.pokeicon.leaguecard {
	height: 180px;
}
/* Checkbox Item */

.checkbox-item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

/* Footer */

footer {
	height: 50px;
	background: #181369;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}
footer ul {
	display: flex;
	list-style: circle;
	padding: 0;
}
footer li {
	margin-right: 10px;
	text-decoration: none;
	list-style: none;
	font-size: 15px;
}
@media only screen and (max-width: 768px) {
	/* Constant */

	footer {
		height: 50px;
		font-size: 12px;
	}
	/* Variable */

	.wide-panel {
		margin-top: 180px;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	




	.wide-panel.items {
		margin-top: 0px;
	}
	.collapsible {
		width: 290px;
	}
	.pokeicon.item {
		height: 20px;
	}
	.ingametrades-rightrow, .galarianforms-rightrow, .giftpokemon-rightrow {
		margin-left: 10px;
	}
	.leaguecard-rowcontainer {
		display: flex;
		flex-direction: column;
		margin-left: 60px;
	}
	.pokeicon.leaguecard {
		height: 200px;
	}
	.gigantamax-rightrow {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 400px) {
	/* Normal phones */
	.wide-panel {
		margin-top: 180px;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	
}