/* Header */

* {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue;
}
#female {
  color: pink;
}
/* Pokeicon */

.collapsible {
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 18px;
  width: 500px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 5px;
}
.content {
  padding: 0 18px;
  display: none;
}
.pokeicon {
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
}
.pokeicon.legendary {
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}
/* Logo Container */

.icon-small {
  height: 25px;
  margin-left: 5px;
}
/* Links */

a {
  text-decoration: none;
  color: #fff;
}
/* Body */

body {
  margin: 0;
  padding: 0;
  background: #ffffff url(../../images/patterns/pattern-x.png) repeat center center;
  /* Icons Vectors by Vecteezy */
  background-size: 500px 250px;
  display: flex;
  flex-direction: column;
}
/* Page Container */

.checkbox-item input[type="checkbox"] {
  margin-right: 5px;
  /* Adjust this value to control the space between the checkbox and the label */
}
.page-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}
/* Span */

span {
  pointer-events: none;
}
/* Wide Panel */

.wide-panel {
  text-align: center;
  padding: 20px;
  border-radius: 1.5rem;
  width: 500px;
  margin: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  background-color: white;
  margin-top: 150px;
  border: 2px solid #354698;
}
.wide-panel.more {
  margin-bottom: 50px;
  margin-top: 50px;
}
.completepokedex,
.opower,
.legendaries,
.ingametrades,
.vivillion,
.battlemaison,
.mega,
.photographs,
.restaurants,
.giftpokemon,
.trainercard,
.battleinstitute,
.battlechateau,
.other,
.supertraining,
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.completepokedex-rowcontainer,
.opower-rowcontainer,
.legendaries-rowcontainer,
.ingametrades-rowcontainer,
.vivillion-rowcontainer,
.battlemaison-rowcontainer,
.mega-rowcontainer,
.photographs-rowcontainer,
.restaurants-rowcontainer {
  display: flex;
  align-items: flex-start;
}
.completepokedex-rightrow,
.opower-rightrow,
.legendaries-rightrow,
.ingametrades-rightrow,
.battlemaison-rightrow,
.photographs-rightrow {
  margin-left: 40px;
}
.vivillion-middlerow,
.mega-middlerow,
.restaurants-middlerow {
  margin-left: 40px;
  margin-right: 40px;
}
/* Panel Label */

.panel-label {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 1000;
  color: #354698;
}
/* Panel Content */

/* Checkbox Group */

.pokeicon.item {
  height: 30px;
}
/* Checkbox Item */

.checkbox-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
/* Footer */

footer {
  height: 50px;
  background: #354698;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
footer ul {
  display: flex;
  list-style: circle;
  padding: 0;
}
footer li {
  margin-right: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  /* Constant */
  footer {
    height: 50px;
    font-size: 12px;
  }
  /* Variable */
  .wide-panel {
    margin-top: 180px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .wide-panel.collectibles {
    margin-top: 0px;
  }
  .collapsible {
    width: 290px;
  }
  .vivillion-middlerow,
  .mega-middlerow {
    margin-left: 0px;
    margin-right: 0px;
  }
  .pokeicon.vivillion {
    height: 20px;
  }
  .pokeicon.item,
  .pokeicon.tm {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  /* Normal phones */
  .wide-panel {
    margin-top: 180px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
