.tm, .legendaries, .giftpokemon, .ingametrades, .completepokedex, .tms {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tms-rightrow, .legendaries-rightrow, .giftpokemon-rightrow, .ingametrades-rightrow, .tms-rightrow {
	margin-left: 40px;
}
.tms-rowcontainer, .legendaries-rowcontainer, .giftpokemon-rowcontainer, .ingametrades-rowcontainer, .tms-rowcontainer {
	display: flex;
	align-items: flex-start; 
}
* {font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue;}


.pokeicon {
	height: 40px;
}
.pokeicon.small {
	height: 30px;
	margin-right: 5px;
} 
.checkbox-item input[type="checkbox"] {
    margin-right: 5px; /* Adjust this value to control the space between the checkbox and the label */
}
a {
	text-decoration: none;
	color: #fff;
}

body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../../images/patterns/pattern-yellow.png) repeat center center; /* Icons Vectors by Vecteezy */
	background-size: 500px 250px;
	display: flex;
	flex-direction: column;

}
.page-container {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	margin-top: 0px;
	flex-wrap: wrap;
}

span {
	pointer-events: none;
}
/* page */

.wide-panel {
	text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%; /* Set maximum width to prevent overflow */
    width: 500px; /* Allow the width to adjust based on content */
    margin: 30px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 150px;
	border: 2px solid #FAD61D;
}

.panel-label {
	display: block;
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 1000;
	color: #FAD61D;
}
.panel-content {
	text-align: left;
}
.checkbox-group {
	margin-bottom: 15px;
}
.checkbox-item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}


footer {
	height: 50px;
	background: #FAD61D;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}
footer ul {
	display: flex;
	list-style: circle;
	padding: 0;
}
footer li {
	margin-right: 10px;
	text-decoration: none;
	list-style: none;
}

@media only screen and (max-width: 768px) {

    footer {
        height: 50px;
        font-size: 12px;
    }

	/* Variable */

	

	  .panel-content {
		width: 300px;
	  }

	  .wide-panel {
		margin-top: 180px;
	  }
	  .wide-panel.collectibles {
		margin-top: 0px;
	  }
	  
	  


}

@media only screen and (max-width: 400px) { /* Normal phones */
	.wide-panel {
		margin-top: 180px;
		width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
}