* {font-family: 'Alegreya Sans';}

a {
	text-decoration: none;
	color: #DEECD8;
}
/* Header COPY*/

.main-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0; 
	background-color: #79AD75;
	padding: 10px 10px 10px 10px;
	display: flex;
	justify-content: space-between;
	font-size: 8px;
	z-index: 1000;
	font-weight: 700;
	letter-spacing: 1px;
}
.header-left, .header-right {
	margin: 0px 0px 0px 0px;
	color: #DEECD8;
}
/* Body COPY */

body {
	margin: 0;
	padding: 0;
	background: #ffffff url(../images/patterns/pattern-list.png) repeat center center;
	background-size: 500px 250px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
img {
	height: 139.706px;
	flex-shrink: 0;
}
button {
	width: 119px;
	height: 37px;
	flex-shrink: 0;
	border: 2px solid #ececec;
	cursor: pointer;
	color: rgb(158, 158, 158);
	background-color: #ffffff;
	font-size: 15px;
	margin-bottom: 10px;
	margin-top: 20px;
}
/* Container */

.gen-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
}
.gen-row {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	margin-bottom: 30px;
	flex-wrap: wrap;
	position: relative;
	padding-top: 80px;
	
}

.gen-title {
	position: absolute;
	font-size: 1rem;
	padding: 2px;
	border: 2px solid #ebebeb;
	background: rgb(241, 241, 241);
	color: #949494;
	font-weight: normal;
}

.gen-title {
    position: absolute;
    top: 40px; /* Adjust as needed */
    
}


.gen-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	min-width: 368px;
	min-height: 208px;
	border: 2px solid #DEECD8;
	border-radius: 25px;
	box-sizing: border-box;
	margin: 10px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
	background-color: white;
}
/* Footer COPY*/

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer li {
	display: inline-block;
	/* Display list items horizontally */
	margin-right: 10px;
	/* Add spacing between links */
}
footer {
	height: 50px;
	background: #79AD75;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
}

footer a {
    text-decoration: none;
    color: #DEECD8;
    /* Adjust link color */
    margin-right: 10px;
    /* Add spacing between links */
}



/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  /* Constant */
  .main-header {
	padding: 12px;
	font-size: 7px;
}
footer {
	height: 50px;
	font-size: 12px;
}
    
    .gen-item {
        min-width: 350px;
        min-height: 200px;
    }
    
    footer {
        height: 50px;
        font-size: 12px;
    }
}
